/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== PRINCIPAL ===============*/
:root {
  --text-color: #ffffff;
  --bkground-color:#1019c4;
  --accent-color: #1073c4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: var(--bkground-color);
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

/*=============== HEADER ===============*/
header {
  position: relative;
  padding: 0 2rem;
}
 nav {
  width: 100%;
  height: 110px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 }

ul {
  list-style: none;
   
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
}

nav .links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

nav .menu_bars {
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

nav .links li a:hover {
  color: var(--accent-color);
}

nav .menu_bars:hover {
  color: var(--accent-color);
}

#sidebar_active {
  display: none;
}

.open_sidebar_btn, .close_sidebar_btn {
  padding: 0 20px;
  display: none;
}


/*=============== MAIN ===============*/
main {
  background-image: url('../assets/images/bkground_image.jpg');
  background-size: cover;
  background-position: center;
}

/*=============== LOGIN ===============*/
.login {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.login p{
  text-align: center;
  padding-bottom: 30px;
}

.login__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login__form {
  position: relative;
  margin-inline: 24px;
  background-color: hsla(0, 0%, 100%, .01);
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding: 40px 16px;
  color: var(--text-color);
  border-radius: 16px;
  backdrop-filter: blur(16px);
}

.login__title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.login__inputs, 
.login__box {
  display: grid;
}

.logout_btns{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logout_btns button {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 15px;
  background-color: var(--bkground-color);

}

.login__inputs {
  row-gap: 20px;
  margin-bottom: 16px;
}

.login__box {
  grid-template-columns: 1fr max-content;
  column-gap: 12px;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding-inline: 20px;
  border-radius: 64px;
}

.login__input, 
.login__button {
  border: none;
  outline: none;
}

.login__input {
  width: 100%;
  background: none;
  color: var(--text-color);
  padding-block: 16px;
}

.login__input::placeholder {
  color: var(--text-color);
}

.login__box i {
  font-size: 20px;
}

.login__check, 
.login__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__check {
  margin-bottom: 16px;
  font-size: small;
}

.login__check-box {
  column-gap: 8px;
}

.login__check-input {
  width: 16px;
  height: 16px;
  accent-color: var(--text-color);
}

.login__forgot {
  font-size: small;
  color: var(--text-color);
}

.login__forgot:hover {
  text-decoration: underline;
}

.login__button {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  background-color: var(--bkground-color);
  border-radius: 64px;
  font-weight: 500;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.login__button:hover {
  scale: 1.05;
  color: var(--text-color);
}

.login__button:active {
  scale: 0.95;
}


/*=============== FOOTER ===============*/
footer {
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: var(--text-color);
}


/*=============== BREAKPOINTS ===============*/
/* Mobile*/
@media screen and (max-width: 860px) {
  nav .links{
    display: none;
  }

  .open_sidebar_btn {
    display: block;
  }
}

@media screen and (min-width: 420px) {
  .login {
    justify-content: center;
  }
  .login__form {
    width: 420px;
    padding-inline: 2.5rem;
  }
  .login__title {
    margin-bottom: 2rem;
  }
}